/* To apply style to everything : "* {}" */
/* Search color palette on Google */
/* Search for copyright free images on unsplash */
/* Search for font-awesome for free icons */


/* h1 {
    color: red;
}

button {
    color: aqua;
    background-color: black;
}

body {
    background-color: burlywood;
}

#head_1 {
    color: blue;
}

.MyClass {
    color: chocolate;
} */

/* h1 {
    text-decoration: line-through;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: none;
    text-decoration: blue wavy underline;
} */


/* For languages like Eng & Hindi start == right and end == left but for Sindhi it is reverse */
/* p {
    text-align: center;
    text-align: end; 
} */


/* font-weight is between 100 to 900 */
/* h1 {
    font-weight: bolder;
    font-weight: bold;
    font-weight: normal;
    font-weight: lighter;
} */


/* Apply Font family one with highest priority and then later if it's not supported by browser */
/* h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  */


/* h1 {
    font-size: 45px;
    line-height: 100px;
} */



/* h1 {
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: none;
}  */


/* CSS LEVEL 2 :  */

/* #head_1 {
    height: 100px;
    width: 600px;
    background-color: aqua;

    border-width: 5px;
    border-color: red;
    border-style: double;
    border-radius: 10px;
    border-radius: 50%;

    padding-left: 50px;
    padding-top: 25px;
    padding: 30px 50px 20px 100px;

    margin-left: 50px;
    margin: 30px 50px 20px 100px;

    display: inline;
    display: none;
    display: inline-block;
    display: block;

    width: 10%;
    width: 0.5em;
    width: 9em;
    width: 9rem;
    width: 30vw;
    width: 30vh;

    position: absolute;
    position: relative;
    position: fixed;
    position: sticky;
    position: static;

    z-index: 1;
    z-index: -1;
    z-index: 0;

    background-image: url('https://source.unsplash.com/random/1920x1080');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
} */

body {
    text-align: center;
}
div {
    height: 100px;
    width: 100px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#container {
    height: 200px;
    width: 800px;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: burlywood;
}

#box3 {
    background-color: chocolate;
}

#box4 {
    background-color: darkcyan;
}

#box4:hover {
    background-color: rgb(244, 10, 10);
}

@media (min-width: 200px) and (max-width: 600px) {
    div {
        border-color: red;
    }
}

/* Learn Transition, rotate, transform, translate, skew, scale, animation, keyframes, etc. */