
/* To apply style to everything : "* {}" */
/* Search color palette on Google */


/* h1 {
    color: red;
}

button {
    color: aqua;
    background-color: black;
}

body {
    background-color: burlywood;
}

#head_1 {
    color: blue;
}

.MyClass {
    color: chocolate;
} */

/* h1 {
    text-decoration: line-through;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: none;
    text-decoration: blue wavy underline;
} */

/* p { */
    /* For languages like Eng & Hindi start == right and end == left but for Sindhi it is reverse */
    /* text-align: center;
    text-align: end; 
} */



h1 {
    font-weight: bolder;
    font-weight: bold;
    font-weight: normal;
    font-weight: lighter;
    /* font-weight is between 100 to 900 */
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Apply Font family one with highest priority and then later if it's not supported by browser */
}

h1 {
    font-size: 45px;
    line-height: 500px;
}

h1 {
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: none;
} 
